@use 'variables' as vars;

// nav-link أساسي
@mixin nav-link($padding-x: 0.75rem, $padding-y: 0.5rem) {
  padding: $padding-y $padding-x;
  color: vars.$color-white;
  text-decoration: none;
  font-weight: 450;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  color: vars.$coffee-dark;
  @include body-text;
  font-weight: 500;

}

// hover و active
@mixin nav-link-hover {
  color: vars.$color-white;
  background: vars.$primary-color;
  font-family: sans-serif;
}

@mixin nav-link-active {
  font-weight: 600;
  color: vars.$color-white !important;
  background: vars.$primary-color;
  @include heading-text;
  font-family: sans-serif;
}

@mixin heading-text {
  font-family: 'Roboto', sans-serif; // خط سانس سيرف
  font-weight: bold; // بولد
  font-size: 32px; // حجم مناسب للعناوين (يمكنك تعديله حسب التصميم)
  line-height: 1.2; // ارتفاع السطر لتناسق العنوان
}

@mixin body-text {
  font-family: 'Roboto', sans-serif; // نفس الخط سانس سيرف
  font-weight: bold; // بولد
  font-size: 22px !important; // حجم أصغر يناسب نصوص الموقع
  line-height: 1.5; // ارتفاع السطر لتسهيل القراءة
}


// ميديا كويري مختصرة
@mixin respond($breakpoint) {
  @if $breakpoint == "sm" {
    @media (max-width: 576px) { @content; }
  } @else if $breakpoint == "md" {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == "lg" {
    @media (max-width: 992px) { @content; }
  }
}
