// _reset.scss
@use 'variables' as vars; // ✅ استدعاء ملف المتغيرات

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif !important;
  background-color: #f9f9f9;
  color: #333;
  direction: rtl;
  line-height: 1.6;
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
